<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price/100, :unit => "zł", :format => "%n %u") %>
  </p>

  <p>
    <strong>Categories</strong>
    <% product.categories.each do |p| %>
      <%= p.name + " " %>
    <% end %>
  </p>

  <p>
    <strong>Sales count</strong>
    <%= product.sales_count %>
  </p>

  <p>
    <% if @cart.include?(product) %>
      <%= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
    <% else %>
      <%= button_to "Add to cart", add_to_cart_path(product) %>
    <% end %>
  </p>
  
</div>
